# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/

# Swift Package Manager
.swiftpm/
.build/

# macOS
.DS_Store

# CocoaPods / Carthage (если появятся)
Pods/
Carthage/Build/

# Прочее
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM